# ==============================
# Keil 生成的文件
# ==============================
*.axf
*.bin
*.hex
*.o
*.d
*.map
*.ilk
*.lst
*.dep

# 生成目录
Objects/
OBJ/
Listings/
DebugConfig/

# ==============================
# 通用临时文件
# ==============================
*.log
*.tmp
*.bak
*.swp

# ==============================
# IDE 配置文件（可选上传）
# ==============================
.vscode/
.idea/
